<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseClientKey</key>
	<string>JvcX34MRd7rREhmtjFZrcU8mxqmRDFlbyC0yXzAv</string>
	<key>parseApplicationId</key>
	<string>vVNUbdp3ci9MLKqNWJMFMYBQZ1tE8EjJ5DZBTCF7</string>
</dict>
</plist>
